finance_analytics:
  target: prod

  outputs:
    dev:
      type: postgres
      host: localhost
      port: 5432
      user: dbt_runner
      password: change_me
      dbname: finance_analytics
      schema: stg
      threads: 4

    ci:
      type: postgres
      host: localhost
      port: 5432
      user: ci_user
      password: ci_password
      dbname: finance_analytics_ci
      schema: stg
      threads: 4

    prod:
      type: postgres
      host: "{{ env_var('DBT_HOST') }}"
      port: "{{ env_var('DBT_PORT') | int }}"
      user: "{{ env_var('DBT_USER') }}"
      password: "{{ env_var('DBT_RUNNER_PASSWORD') }}"
      dbname: "{{ env_var('DBT_DBNAME') }}"
      schema: stg
      threads: 8
